<div class="container text-center">
    <div class="row justify-content-center p-2">
        <div class="col-md-12">
            <h1 class="mat-h1"><span class="badge rounded-pill bg-primary">Todos List</span></h1>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row justify-content-end p-2">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button mat-raised-button color="primary" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">Add Todo</button>
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col">
            <div class="card">
                <div class="card-body">
                   <ul class="list-group list-group-flush">
                        @for (item of todosList; track $index) {
                            <li class="list-group-item" [ngClass] = "{
                                'bg-completed':item.completed === true,
                                'bg-pending':item.completed === false
                            }">
                                {{item?.title}}
                            </li>   
                            <!-- <li class="list-group-item">
                                {{item?.completed}}
                            </li> -->
                        }
                   </ul>
                </div>                    
            </div>
        </div>
    </div>
</div>

<app-add-todos></app-add-todos>
